@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#ffffff;
}

/* NAV */

nav{
    width:100%;
    height:90px;
    background:#383a46;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DevP{
    color:#ffffff;
    font-size:28px;
    font-weight:bold;
}

.DevP span{
    color:#c3986b;
}

.MenuLinks{
    display:flex;
    gap:10px;
}

.MenuLinks a{
    color:#ffffff;
    text-decoration:none;
    padding:10px;
    transition:0.3s;
}

.MenuLinks a:hover{
    color:#c3986b;
    border-bottom:2px solid #c3986b;
}

/* MAIN */

main{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:140px 40px;
    flex-wrap:wrap;
}

#textContent{
    width:40%;
}

#textContent h1{
    font-size:50px;
}

.aprender-programacao{
    margin-top:10px;
    color:#555;
}

/* BOTÕES */

.btn-1{
    display:inline-flex;
    align-items:center;
    gap:5px;
    background:#c3986b;
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:5px;
    transition:0.3s;
    height: 50px;
}

.btn-1:hover{
    background:white;
    color:#c3986b;
    border:1px solid #c3986b;
}

/* ÁUDIO */

#zona-audio{
    margin-top:10px;
}

#btn-musica{
    background:#c3986b;
    color:white;
    border:none;
    padding:12px 16px;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
    width: 160px;
    height: 50px;
}

#btn-musica:hover{
    background:white;
    color:#c3986b;
    border:1px solid #c3986b;
}

#meu-audio{
    display:none;
    margin-top:15px;
    width:250px;
}

/* CLASSE ESCONDIDO */

.escondido{
    display:none !important;
}

/* DIV LATERAL */

.DivColor{
    width:50%;
    height:400px;
    border:1px solid rgba(0, 0, 0, 0.377);
    border-radius:6px;
}




hr.firstHR {
    width: 100%;
    margin: 100px;
    color: rgba(0, 0, 0, 0.336);
}

/* RESPONSIVO */

@media(max-width:768px){

    nav{
        flex-direction:column;
        height:auto;
        padding:15px;
    }

    main{
        flex-direction:column;
        gap:30px;
    }

    #textContent{
        width:100%;
        text-align:center;
    }

    .DivColor{
        width:100%;
        height: 400px;
    }

    @media(max-width: 350px) {
        
    .DivColor{
        width:100%;
        height: 200px;
    }
    }

}
